.button-submit {
    border: 1px solid $white;
    background: $white;
    color: $color-secondary;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    width: 244px;
    height: 51px;
    padding: 13.5px 20px;
    margin-bottom: 45px;
    margin-top: 23px;
    font-size: 20px;
}

.btn-white {
    border: 1px solid $white;
    background: $white;
    color: $color-primary;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 115px;
    height: 20px;
    padding: 13.5px 20px;
    margin-bottom: 7px;
    margin-top: 23px;
    font-size: 18px;

    @include max(1765px) {
        font-size: 16px;
    }

    &.lg {
        width: 204px;
        height: 26px;
        font-size: 26px;
        color: $color-secondary;
        text-align: center;
        margin-bottom: 45px;

        @include max(1765px) {
            font-size: 22px;
        }
    }

    &.lg-bigger {
        width: 150px;
        height: 10px;
        border-radius: 11px;
    }

    &.lg-plus {
        font-size: 20px;
        margin-left: 138px;
        margin-top: 45px;
        width: 165px;
        height: 20px;
    }
}

.btn-blue {
    border: 1px solid $color-primary;
    background: $white;
    color: $color-secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 347px;
    height: 28px;
    padding: 13.5px 20px;
    margin-bottom: 7px;
    margin-top: 23px;
    font-size: 17px;

    &.clair{
        border: 1px solid $color-secondary;
    }

    &.small {
        width: 26vh;
    }

    &.primary {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
        width: 324px;
        height: 71px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: $white;
        background-color: $color-primary;

        &.medium {
            width: 260px;
            height: 40px;
        }
    }
}

.boutons {
    position: relative;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    &.padding-position {
        padding: 20px 15px 10px;
    }

    &.modify-top {
        margin-top: 35px;
        margin-bottom: 45px;
    }

    &.modify-top-1 {
        margin-bottom: 10px;
        margin-top: 15px;
        height: 5vh;
    }

    &.modify-height {
        height: 10vh;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
        border-radius: 14px;
        width: 150px;
        height: 40px;
        margin-right: 25px;
        font-size: 20px;
        color: white;
        font-family: "Microsoft Sans Yahei";
        text-decoration: none;

        &.fs-17{
            font-size: 17px;
        }

        &.btn-medium {
            width: 270px;
            height: 68px;
        }

        &.btn-small {
            border-radius: 0;
            width: 207px;
            height: 70px;
            text-align: center;
        }

        &.tiny-btn {
            width: 100px;
            height: 25px;
            font-size: 15px;
        }

        &__middle-btn {
            color: $white;
            text-decoration: none;
        }

        &.re-arranged {
            width: 130px;
            height: 35px;
            font-size: 17px;
        }

        &.btn-filtre {
            height: 34px;
            font-size: 19px;
        }
    }
}

.bleu-clair {
    background-color: $color-secondary;
}

.bleu-foncé {
    background-color: $color-primary;
}

.btn-générer {
    display: flex;
    justify-content: center;
}
