body {
    font-family: "Microsoft Yahei";
    @include max(1440px) {
        font-size: $gb-font-size;
    }
}
h1 {
    color: $white;
    font-size: 56px;
    text-transform: uppercase;
}
h2,
title-h2 {
    font-size: 32px;
    @include max(1440px) {
        font-size: 22px;
    }
}

h5,
title-h5 {
    font-size: $gb-font-size;
    font-weight: 600;
}

p {
    font-size: 18px;
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

.trait {
    border-bottom: 1px solid $color-primary;
    width: 7%;
    margin-left: 15px;
}

input {
    font-family: "Microsoft Yahei";
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

.d-none{
    display: none;
}

strong {
    font-weight: 600;
}

.select {
    border: 1px solid $color-primary;
    background: $white;
    color: $color-secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 390px;
    height: 57px;
    padding: 13.5px 20px;
    margin-bottom: 7px;
    margin-top: 23px;
    font-size: 20px;

    &.white {
        width: 38vh;
        @include max(1440px) {
            width: 85%;
            height: 47%;
        }
    }
    @include max(1440px) {
        font-size: 16px;
    }
}

//textarea
textarea {
    border: 1px solid $color-primary;
    background: $white;
    color: $color-secondary;
    font-size: 20px;
    width: 43vh;

    @include max(1440px) {
        font-size: 15px;
    }

    &::placeholder {
        position: absolute;
        color: $color-secondary;
        top: 5%;
        left: 5%;
    }
}

.small-text {
    width: 41vh;
}

//input
input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
label {
    color: $color-secondary;
    font-size: 17px;
}

input[type="file"],
input[type="date"] {
    font-size: 15px;
}

.bg-color-grey {
    background-color: $light-grey;
}

.d-block {
    display: block;
}

.p-bleu {
    text-transform: uppercase;
    font-size: 18px;

    &.clair {
        color: $color-secondary;
    }

    &.foncé {
        color: $color-primary;
    }
}

.uppercase {
    text-transform: uppercase;
}

.navy-span {
    color: $color-primary;
}

.title-h6 {
    color: $grey;
    font-size: 17px;
    margin-bottom: 12px;

    &.black {
        color: black;
    }
}

//input type file

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

// et on masque le input
.input-file {
    display: none;
}

.p-bottom {
    margin-bottom: 14px;
}

//color
.navy {
    color: $color-primary;
}

.light-grey {
    color: $grey-1;
}

.bold {
    font-weight: 700;
}

.fs-17{
    font-size: 17px;
}

.mt-15{
    margin-top: 15px;
}

