@import "_mixins";
body {
    font-family: "Microsoft Yahei";
    @include max(1440px) {
        font-size: $gb-font-size;
    }
}

h2,
title-h2 {
    font-size: 32px;
    @include max(1440px) {
        font-size: 22px;
    }
}

h5,
title-h5 {
    font-size: $gb-font-size;
    font-weight: 600;
}

p {
    font-size: 18px;
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

.trait {
    border-bottom: 1px solid $color-primary;
    width: 7%;
    margin-left: 40px;
}

input {
    font-family: "Microsoft Yahei";
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

strong {
    font-weight: 600;
}

.select {
    border: 1px solid $color-primary;
    background: $white;
    color: $color-secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 49vh;
    height: 67px;
    padding: 13.5px 20px;
    margin-bottom: 7px;
    margin-top: 23px;
    font-size: 20px;

    &.white {
        width: 38vh;
    }
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

textarea {
    border: 1px solid $color-primary;
    background: $white;
    color: $color-secondary;
    font-size: 20px;
    width: 48vh;
    @include max(1440px) {
        font-size: $fs-primary;
    }

    &::placeholder {
        position: absolute;
        color: $color-secondary;
        top: 5%;
        left: 5%;
    }
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
label {
    color: $color-secondary;
    font-size: $gb-font-size;
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

input[type="file"] {
    font-size: $gb-font-size;
    @include max(1440px) {
        font-size: $fs-primary;
    }
}

.bg-color-grey {
    background-color: $light-grey;
}

.d-block {
    display: block;
}

.p-bleu {
    text-transform: uppercase;
    font-size: 22px;

    &.clair {
        color: $color-secondary;
    }

    &.foncé {
        color: $color-primary;
    }
}

.uppercase{
    text-transform: uppercase;
}
