.sectHeader {
    width: 100%;
    z-index: 99;
    background: $white;
    height: 100px;

    @include max(1756px){
        height: 85px;
    }

    &--sticky {
        position: sticky;
        top: 0;
        left: 0;
    }
}

.headerIntern {
    @include flex-center(space-between);
    .cntlogo {
        a {
            display: block;
            width: 75px;
            padding: 14px 22px;
            @include max(992px) {
                width: 130px;
            }
            img {
                @include imgFull(contain, left);
                @include max(1756px){
                    width: 100%;
                    max-width: 50px;
                    object-fit: contain;
                    object-position: left;
                }
            }
        }
    }
}

#navigation {
    padding-right: 20px;
    .cntNavBox {
        @include max(992px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: auto;
            background: $nav-mobile-Bg;
            padding-top: 90px;
            padding-bottom: 40px;
            box-shadow: $nav-mobile-shadow;
            transition: $transition-default;
            z-index: -1;
            li {
                margin-bottom: 11px;
                height: auto;
                display: block;
                &.openItem > a::after {
                    & > a::after {
                        transform: rotate(-135deg);
                        top: 6px;
                    }
                }
            }
            .subitem {
                min-width: 100%;
                position: relative;
                top: 0;
                left: 0;
                transform: translateX(0);
                z-index: 1;
                padding-bottom: 0;
                li {
                    margin-bottom: 0px;
                    a {
                        border-bottom: none;
                        padding: 2px 0;
                    }
                }
            }
        }
    }
    &.open {
        .cntNavBox {
            top: 0;
        }
    }
    .cntNav {
        display: flex;
        grid-gap: $nav-gap;
        font-family: $nav-fontFamily;
        font-size: $nav-size;
        @include max(1756px){
            font-size: 17px;
        }

        @include resetList();
        > li {
            position: relative;
            a {
                margin-right: 45px;
                color: $nav-color;
                font-weight: $nav-fontWeight;
                transition: $transition-default;

                img{
                    width: 15px;
                }
            }
            &.current,
            &:hover {
                a {
                    color: $nav-color-hover;
                }
            }
        }
        @include max(992px) {
            display: block;
            text-align: center;
        }
    }
}

.sub-menu {
    display: none;
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cntNav > li:hover .sub-menu {
    list-style: none;
    display: block;
    opacity: 1;
    visibility: visible;
    color: $color-secondary;
}

.btnBox {
    display: none;
    @include max(992px) {
        display: block;
        position: absolute;
        top: calc(50% - 30px);
        right: 23px;
        z-index: 9;
    }
}
#btnnav {
    width: 44px;
    height: 47px;
    @include flex-center();
    cursor: pointer;
    background: black;
    .btninter {
        flex: 0 0 32px;
        max-width: 32px;
        span {
            display: block;
            height: 3px;
            width: 24px;
            background: black;
            opacity: 1;
            transform-origin: left;
            margin-left: auto;
            margin-right: auto;
            transition: $transition-default;
            &:first-child {
                margin-bottom: 4px;
            }
            &:last-child {
                margin-top: 4px;
            }
        }
    }
    &.active {
        span {
            &:nth-child(2) {
                opacity: 0;
                width: 0;
            }
            &:first-child,
            &:last-child {
                width: 30px;
            }
            &:first-child {
                transform: rotate(45deg) translate(3px, -4px);
            }
            &:last-child {
                transform: rotate(-45deg) translate(-1px, 7px);
            }
        }
    }
}

.text-decoration {
    text-decoration: none;
}

.profil-image {
    width: 100%;
    height: 100%;

    img {
        max-width: 15px;
    }
}

//header-annonces
.boxNavAnnonces {
    background-color: $color-secondary;
    width: 100%;
    height: 85px;
    color: white;
}
.content-nav {
    li {
        display: inline-block;
        padding: 25px;

        &.current,
            &:hover {
                a {
                    color: $nav-color-hover;
                }
        }
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
}

.content-nav-box {
    margin-left: 96px;

    &.left-modified {
        margin-left: 260px;
    }
}

.white-trait {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.content-nav a:hover .white-trait {
    transform: scaleX(1);
}
