.card-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    border-radius: 5px;

    &__image {
        margin: 0;
        width: 100%;

        img {
            border-radius: 5px 5px 0 0;
            width: 100%;
            height: 270px;
            object-fit: cover;
        }
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &__paragraph{
        height: 170px;
    }
}

.card-box:hover {
    transform: scale(1.1);
}

.title-card{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    color: $color-primary;
}

.paragraph-content{
    padding: 16px;

    &__text{
        font-size: 14px;
    }
}
