.container {
    position: relative;

    &.display {
        display: flex;
        align-items: center;
    }
}

.wrapper-main {
    padding: 0 85px 75px;
}

.bg-color-blue {
    &__block {
        background-color: $color-secondary;
        padding: 20px;
        opacity: 80%;
    }
}

.filtre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &__select {
        margin-top: 30px;
        margin-left: 48px;
    }

    .filter-span {
        display: block;
        color: $white;
        font-size: 20px;
    }
}

.div-blue {
    position: relative;
    background-color: $color-secondary;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: flex-end;
}

.list-content {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 80vh;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__right {
        background-color: $light-grey-2;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        row-gap: 50px;
        padding: 85px;

        &.big {
            padding: 80px;
        }
        &__item {
            display: grid;
            grid-template-columns: 35% 1fr;
            width: 300px;
            height: 150px;
            background-color: $white;
            box-shadow: 0 7px 9px rgb(0 0 0 / 16%);
        }
    }

    &__picture {
        margin-top: 14px;
        margin-left: -25px;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            max-width: 75px;
            height: auto;
        }
    }

    &__infos {
        margin-top: 28px;
    }
}

.see-plan {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 25px;

    .link {
        color: black;
        text-decoration: none;
        font-size: 15px;

        &__trait {
            border-bottom: 1px solid black;
            width: 50%;
            margin-left: 45px;
        }
    }
}

.list-dpt {
    display: block;
    margin-left: 25px;

    .p-bleu {
        margin-top: 17px;
        font-size: 12px;

        &.clair {
            color: $color-secondary;
        }

        &.foncé {
            color: $color-primary;
        }
    }
}



.p-medium {
    font-size: 17px;
    margin-bottom: 12px;
}

.grey-text {
    color: $grey;
}

.request-list {
    &.box {
        margin-top: 35px;
        display: flex;

        &__color {
            width: 245px;
            height: 85px;
            background-color: $white;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            margin-right: 35px;

            &.navy {
                background-color: $color-primary;
            }
        }

        &__content {
            display: flex;
            margin-top: 22px;
            margin-left: 10px;
            margin-right: -15px;

            &__title {
                font-size: 14px;
                text-transform: uppercase;
                color: $grey-2;

                &.white {
                    color: $white;
                }
            }

            &__text {
                h6 {
                    width: 85px;
                    font-size: 25px;
                    color: $color-primary;
                }

                p {
                    font-size: 16px;
                    color: $grey-2;
                }
            }
        }
    }
}

.h6-text-white {
    width: 85px;
    font-size: 25px;
    color: $white;
}

.p-text-white {
    font-size: 16px;
    color: $white;
}

//recherche
.search-container {
    position: relative;
    text-align: right;
    padding: 30px 105px;
}

.search-input {
    width: 55%;
    height: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: $color-secondary;
    font-size: 15px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-container {
    margin-top: -15px;
    color: $white;
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 36vh;

    @include max(1366px) {
        right: 47vh;
    }

    &.modified {
        right: 23vh;
        bottom: 7px;

        @include max(1366px) {
            right: 26vh;
        }
    }

    p {
        font-size: 17px;
        margin-left: 5px;
    }
    img {
        width: 19px;
    }
}

.add-dept {
    margin-top: -15px;
    color: $white;
    position: absolute;
    display: flex;
    right: 19vh;
    bottom: 7px;

    img {
        width: 19px;
    }
}

#filter-options {
    position: absolute;
    width: 125px;
    top: 20px;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#filter-options p {
    color: $color-secondary;
    margin: 5px 0;
}

//remove user
.remove-user {
    position: absolute;
    top: 68px;
    right: 97px;

    img {
        width: 28px;
    }
}

.no-employees-message {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    color: $color-secondary;
}