.container {
    position: relative;

    &.display {
        display: flex;
        align-items: center;
    }
}

.wrapper-main{
    padding: 66px 85px;
}

.bg-color-blue {
    &__block {
        background-color: $color-secondary;
        padding: 20px;
        opacity: 80%;
    }
}

.filtre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &__select {
        margin-top: 30px;
        margin-left: 48px;
    }

    .filter-span {
        display: block;
        color: $white;
        font-size: 20px;
    }
}


.div-blue {
    position: relative;
    background-color: $color-secondary;
    width: 100%;
    height: 100px;
    text-align: right;

    &__recherche {
        padding: 40px 40vh;
    }
}

.list-content {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__right {
        background-color: $light-grey-2;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        row-gap: 50px;
        padding: 85px;

        &.big {
            padding: 80px;
        }
        &__item {
            display: grid;
            grid-template-columns: 35% 1fr;
            width: 300px;
            height: 150px;
            background-color: $white;
            box-shadow: 0 7px 9px rgb(0 0 0 / 16%);
        }
    }

    &__picture {
        margin-top: 14px;
        margin-left: -25px;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            max-width: 75px;
            height: auto;
        }
    }

    &__infos {
        margin-top: 28px;
    }
}

.see-plan {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 25px;

    .link {
        color: black;
        text-decoration: none;
        font-size: $gb-font-size;

        &__trait {
            border-bottom: 1px solid black;
            width: 50%;
            margin-left: 45px;
        }
    }
}

.list-dpt {
    display: block;
    margin-left: 15px;

    .nom {
        margin-top: 10px;
    }
}

.p-medium {
    font-size: 17px;
    margin-bottom: 12px;
}

.grey-text {
    color: $grey;
}

.request-list {
    &.box {
        margin-top: 35px;
        display: flex;

        &__color {
            width: 325px;
            height: 95px;
            background-color: $white;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            margin-right: 35px;

            &.navy{
                background-color: $color-primary;
            }
        }

        &__content {
            display: flex;
            margin-top: 22px;
            margin-left: 10px;

            &__title {
                font-size: 20px;
                text-transform: uppercase;
                color: $grey-2;

                &.white{
                    color: $white;
                }
            }

            &__text {
                h6 {
                    width: 85px;
                    font-size: 32px;
                    color: $color-primary;
                }

                p {
                    color: $grey-2;
                }
            }
        }
    }
}

.h6-text-white{
    width: 85px;
    font-size: 32px;
    color: $white;
}

.p-text-white{
    color: $white;
}

//liste départements
