.profile-container {
    max-height: 400px;
    overflow-y: auto;
}

.div-grey {
    position: fixed;
    background-color: $grey-6;
    width: 100%;
    height: 81%;
    display: grid;
    grid-template-columns: 19% auto;
    gap: 4%;

    &__profil {
        border: 1px solid $light-grey;
        background-color: $white;
        overflow-y: auto;
    }

    &__picture {
        width: 100%;
        height: 100%;

        img {
            max-width: 90px;
            height: auto;
        }
    }

    &__infos {
        &__center {
            text-align: center;
            font-size: 18px;
        }

        &__left {
            margin-top: 60px;
            margin-left: 31px;
        }
    }

    &__request {
        margin-top: 125px;
        display: flex;
        flex-direction: column;

        &__data {
            display: flex;

            &__input {
                border: 1px solid white;
                background: white;
                color: $color-secondary;
                width: 250px;
                height: 38px;
                margin-left: 45px;
                margin-top: -10px;

                &.blue{
                    margin-bottom: 45px;
                    color: $color-secondary;
                }
            }

            &__span {
                width: 112px;
                margin-bottom: 45px;
                font-size: 22px;
                color: black;
            }
        }
    }
}

.ml{
    margin-left: -5px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trait-lg {
    border-bottom: 1px solid $grey;
    width: 91%;

    &.modified {
        margin-top: 45px;
    }
}

.bck-data {
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-top: -6px;

    &__picture {
        width: 100%;
        height: 100%;

        img {
            max-width: 45px;
            height: auto;
        }
    }

    &__text {
        margin-left: -25px;
    }
}

.title-h4 {
    margin-top: 45px;
    font-size: 20px;
    text-transform: uppercase;
}

.shadow-box {
    position: absolute;
    margin-top: 25px;
    width: 417px;
    height: 595px;
    background-color: $white;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);

    &__text {
        margin-left: 40px;
        margin-top: 21px;

        &__title {
            font-size: 20px;
            text-transform: uppercase;

            &.on-top {
                margin-top: 24px;
            }
        }

        &__content {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.adjust-right {
    margin-right: 45px;

    &__1{
        margin-right: 20px;
    }
}

.adjust-left{
    margin-left: 45px;
}

.subtitle {
    color: $grey;
    font-size: 17px;
    margin-bottom: -8px;

    &.black {
        color: black;
    }
}

.date-right {
    margin-right: 45px;
    margin-top: 12px;
    position: absolute;
    right: 0;
}

.create-request {
    position: absolute;
    z-index: 99;
    width: 265px;
    height: 40px;
    color: $color-primary;
    background-color: $white;
    top: 0;
    right: 0;
    margin-right: 41px;
    margin-top: 30px;

    @include max(1440px){
        width: 210px;
        height: 36px;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;

        p {
            text-transform: uppercase;
            font-size: 15px;
        }
    }
}
