.head-table{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin-bottom: 5px;
    margin-top: 45px;

	.left-head{
		font-size: 18px;
		color: $black;

		span{
			font-size: 24px;
			padding-right: 5px;
			display: inline-block;
		}
	}
	.right-head{
		display: flex;

		a{
			text-decoration: none;

			&.print{
                margin-right: 5px;
                img{
                    width: 30px;
                }
		}
	}
	.wrapp-filter{
		flex: 0 0 100%;
	}
    }
}
.table-list{
	@include max(1280px){
		display: none;
	}
}

.table-infos{
    text-decoration: none;
    p{
        font-size: 14px;
        color: $black;
    }
}

table{
	width: 100%;
	border: 1px solid $white;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	th{
		background: $white;
		font-size: 16px;
		color: $grey-3;
		text-align: left;
		padding: 20px 0;
		position: relative;
		div{
			border-right: 1px solid $black;
			display: flex;
			align-items: center;
			white-space: nowrap;
			padding-left: 20px;
			padding-right: 20px;
		}
		&:first-child{
			border-radius: 11px 0 0 0;
		}
		&:last-child{
			border-radius: 0 11px 0 0;
			div{
				border: 0;
			}
		}
		i{
			margin-left: 10px;
			cursor: pointer;
			margin-top: 2px
		}
	}
	td{
		background: transparent;
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
		div{
			max-width: 275px;
		}
		&:first-child{
			div{
				max-width:  214px;
			}
		}
	}
	tbody{
		tr{
			&:nth-child(2n+2){
				td{
					background: white;
				}
			}
			&:last-child{
				td{
					&:first-child{
						border-radius:0 0 0 11px;
					}
					&:last-child{
						border-radius: 0 0 11px 0;
					}
				}
			}
		}
	}
}

.statut{
    img{
        margin-right: 15px;
        width: 23px;
    }
}

.d-flex{
    display: flex;

    a{
        img{
            max-width: 35px;
            width: 100%;
            margin-top: 5px;
        }
    }
}
